.container{
  width:100%;
  height:100%;
  position:absolute;
  display:table;
  text-align: center;
}
#main
{
   font-family: 'Raleway', sans-serif;
    font-size: 200px;
    display:table-cell;
    vertical-align:middle;
    width:100%;
    height:100%:

}


.box {
  position: absolute;
  animation: rotate 2.5s infinite linear;
}
.clickCount{
  position: absolute;
  right: 0;
  bottom: 0;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

div.text
{
    width: 50px;
    height:80px;
    font-family: 'Raleway', sans-serif;
    font-style: oblique;
    font-size: 30px;
    position:absolute;
    color: black;


}
html
{
    height: 100%;
    width: 100%;
}
body
{
    height: 100%;
    width: 100%;
}
